*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

#heading{
    
    width:100%;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-weight: 600;
    background-color: rgb(51, 153, 172);
    text-align: end;
}

textarea{
    display: block;
    width: 60%;
    height: 20vh;
    margin-top: 2rem;
    font-size: large;
    padding:1rem;
    font-family: inherit;
    margin: auto;
    background-color:aliceblue;
}

button {
    display: block;
    margin: auto;
    padding:2px;
    height:fit-content;
    font-size: larger;
    border-radius: 4px;
    background-color: rgb(51, 153, 172);
}


#output-area{
    display: block;
    width: 60%;
    height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
    margin: auto;
    background-color:aliceblue;
    overflow: scroll;
    border:1px solid rgb(51, 153, 172) ;
}

#footer {
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(51, 153, 172);
    text-align: center;
}